
    <!--button to hide and show menu on mobile -->

    <nav class="navbar navbar-expand-sm navbar-white bg-white"> 
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!--text to collapse -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
          <li class="nav-item  ">
          <a class="nav-link fs-5 urlActive" href="home ">Home</a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link text-black fs-5" href="recipe ">Recipe</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-black fs-5" href="search ">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black fs-5 " href="contact ">Contact</a>
        </li>
           <li class="nav-item">
            <% console.log(user); if(user==='null') { %>
          <a class="nav-link text-black fs-5 urlCustom2" href="login">Sign in</a>
                   <% } %>
        </li>
      </ul>
      <form class="d-flex">
         <a class="nav-link fs-5 urlCustom" href="javascript:void(0)"></a>
        <!--
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
        !-->
    
      </form>    

    </div>
      <!--right side of nav with button and link always visible-->
          <div class="rightNav">
            <input type="text" class="form-control searchWindow mt-2 " placeholder="Search" id="searchWindow" aria-label="Search"
              aria-describedby="basic-addon1">
          
            <i class="fa-solid fa-magnifying-glass fa-lg m-4 mx-3 clickable " id="searchButton"></i>
            <!--
                  <a class="nav-link fs-5 urlCustom" href=""  >Sign in</a>
                  -->
                              <% console.log(user); if(!user||user==='null') { %>
                                <form action="" method="POST">
            <button class="btn  fs-5 rounded-pill mx-2 btnCustom2" id="signinButton" type="button">Sign in</button>
            <button class="btn btn-primary fs-5 rounded-pill mx-2 btnCustom " type="button">Sign up</button>
          </form>

                             <% }else{ %>
                          
                            <form action="/logout" method="POST">
                             <button class="btn  fs-5 rounded-pill mx-2 btnCustom2" id="myAccount" type="button"> <%=user%></button>
                             <button type="submit" class="btn btn-primary fs-5 rounded-pill mx-2 btnCustom " type="button">Sign out</button>
                              </form>

                            <% } %>
          
          </div>
  
        </div>
  </div>
</nav>