<!--Signin Div-->
<% console.log("pseudo :" +user); if( !user ){ %>
<div class="overlay" id="overlay1">
  <div class="signWindow" id="signWindow">
    <button type="button" class="btn btnAc border text-center btn-danger btnClose" aria-label="Close" id="closeSignWindow" onclick="signinClose()">X</button>
    <iframe src="login " width="100%" height="100%" style="border:none;"></iframe>
  </div>
</div>

<!-- sign up div -->
<div class="overlay3" id="overlay2">

  <div class=" container signup  ">
      <button type="button" class="btn btnAc text-center btn-danger border p-1  btnClose2" aria-label="Close" id="closeSignupWindow" onclick="signupClose()">X</button>

  <div class="p-4  bg-danger border text-white rounded-5">

    <form class=" contactForm  " action="/signup" method="post">
      <div class="  mx-auto text-center text-grey formAlign">
        <h2 class="text-center m-3  fw-bold pt-2">Sign up</h2>
        <a class="text-center m-3 " onclick="displaySignin();signupClose();">Have already an account? Click here to connect!</a>
   
        <h5 class="text-center m-3 ">Join us and add your own recipes and many more! </h5>
     <label for="pseudo" class="form-label  text-center text-grey fs-4 me-3 ">Pseudo</label>
        <input type="text" class="form-control text-center   w-50 rounded-pill bg-white border border-grey text-center text-grey" minlength="4"  name="pseudo" id="pseudo" placeholder="pseudo" required>
        

        <label for="password" class="form-label fs-4 me-3 mt-3">Password</label>
        <input type="password" class="form-control text-center  w-50 rounded-pill bg-white border border-grey text-center text-grey"
          minlength="8" name="password" id="password" placeholder="min 8 characters" minlength="8" required >
            <div class="invalid-feedback">
            Minimum 8 characters
          </div>

                <label for="mail" class="form-label text-center text-grey fs-4 me-3 mt-3">Email</label>
        <input type="email" class="form-control w-75 rounded-pill bg-white border border-grey text-center text-grey " name="mail"  id="mail" placeholder="cor@ind.com" required>
            <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
      </div>

      <div class=" text-center my-3">
      </div>

      <div class=" text-center">
       <button type="submit" class="btn btnAc mx-3 fs-5 px-3 mt-3 btn-warning  rounded-pill">Sign up!</button>
    </div>

    </form>
  </div>
</div>



</div>
</div>
<% } %>
