    


    @media (max-width: 768px) {

      /*classes du nav*/
      .navbar {
    margin: 0rem 0rem;
    padding: 0rem;
}

.navbar .container-fluid{
flex-direction: row-reverse;
justify-content: flex-start;
  
}

.rightNav{
margin-top: 0.2rem;
}

.navbar .btnCustom{
  padding: 0em 0rem;
    width: 8rem;
    margin: 0rem 1rem;
    height: 3rem;
    background-color: orangered;
    border-style: none;
}
.nav-item{
padding: 0em 0rem;
}

.navbar .btnCustom2{
  display : none;
}

.navbar .urlCustom{
  display: none;
margin-left: 0rem;
padding: 00em 0rem;
}

.navbar .urlCustom2{
  display: block;
margin-left: 0rem;
padding: 00em 0rem;
}

.signup-text{
  width: 100%;
}

/*classe de la recherche et liste des recette*/
 .recipeSearch form{
width: 30rem;
}

 .recipeMenu{
    display: flex;
        flex-direction: column;
}

 .recipeGroup{
    display: flex;
    flex-direction: column;

}

.recipe-container{

    display: flex;
    flex-direction: column;

}

.recipeList{

    display: flex;
    flex-direction: column;
}

.recipeList .form-select{
height: 2em;
}


.recipeSearch{
display: flex;
flex-direction:column;
margin: 0;
}

.recipeSearch form{
width: 80%;
margin: 1rem;
}

.recipeList .card{
  max-width: 100%;

}


/* videos container 2 par ligne*/
.videos-container{
    flex-wrap: wrap;          
    gap:0em;
}

.videos-container .card{
  width: 45%!important;

}




 .videoSection .form-select{
  width: 7em;
  height: 2em;
  margin-top: 0em;
  padding-top: 0.2em;
  font-size: 1em!important;
  color : white;
}


/*subribe section */
   .subscribeSection .btn{
        height: 2.5em;
        font-size: medium;
        margin-top: 1em;
        width: 8em;
    }

    .videos-container .card{
      margin-top: 0.5em ;

    }


/*footer : tableau 2 par lignes */

    .table-perso{
      flex: column;
      flex-direction: column;

      margin-bottom: 5rem;
    }

    .table-perso ul{
            gap :1rem;
      display: flex;
      flex-direction: column;
      margin-top: 1em;
        text-align: left;
      font-size: 1.3em;

}

.table-perso li{
  list-style-type: none;
    text-decoration: none; 
    color: black;  
       padding: 0rem;     
    }


    .textTab{
      text-decoration: none;
      color:grey;
      margin-left: 7rem;
    }

    

    /*Contact Page*/

    .contactGroup{
      flex-direction: column;
      justify-content: center;
    }

    .contactText{
      width: 100%;
    }

    .contactForm-container{
      width: 100%;
    }

    /*login page*/

    .signupSection{
      width: 100%;
    }


}

 