body{
    font-family: "Montserrat", "Poppins", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}
h1{
  font-size: 4rem;
}
/*les classes du nav (marges, display...)*/
.navbar {
    margin: 2rem 1rem;
    padding: 2rem;
}

.rightNav{
  display: flex;
}

.navbar .btnCustom{
  padding: 0em 1rem;
    margin-left: 1rem;
    width: 8rem;
    height: 3rem;
    background-color: orangered;
    border-style: none;
}

.nav-item{
padding: 0em 1rem;
}


.urlActive{
color:orangered!important;
}

.navbar .urlCustom2{
  display: none;  /* just for mobile*/
margin-top: 0.5rem;
}

.nav-link:hover{
  color:rgb(0, 94, 255)!important;
}

.signup-container .container-fluid{
width: 95%;
}

.signup-text{
  width: 40%;
}

.signup-text a:hover{
color: blue!important;
}

 /*classes du footer : logos et tableau*/
    .logos{
      display: flex;
      justify-content: flex-end;

    }
 

    .table-perso{
        width: 100%;
     display: flex;
    }

    .table-perso ul{
      display: flex;
      flex-direction: column;
       width: 100%;

      padding: 0rem;
      font-size: 1.3em;
      font-weight: bold;
      gap :1rem;
}

.table-perso li{
  list-style-type: none;
    text-decoration: none; 
    color: black;  
    text-align: left;

     
    }

  .table-perso a{
    text-decoration: none; 
    color: black;       
    }


    .textTab{
      text-decoration: none;
      color:grey;
    }

/* HOME PAGE */
/*  recipe menu */

        .accordion {
      border: none;
      box-shadow: none;
    }

    .accordion-item {
      border: none;
      background: transparent;
      width: 15rem;
    }

    .accordion-button {
      background: transparent;
      box-shadow: none !important;
      color: #000;
      font-weight: 500;
      padding: 0.75rem 1rem;
      position: relative;
    }

    /* delete default bootstrap arrow*/
    .accordion-button::after {
      display: none;
    }

    /* add + and -*/
    .accordion-button::before {
      content: "+";
      position: absolute;
      right: 1rem;
      font-weight: bold;
      font-size: 1.2rem;
      transition: transform 0.3s, content 0.3s;
    }

    .accordion-button[aria-expanded="true"]::before {
      content: "−";
    }

    .accordion-body {
      padding: 0.5rem 1.5rem;
    }

    

    /* accordion style */
    .accordion-body a {
      display: block;
      color: #333;
      text-decoration: none;
      padding: 0.25rem 0;
    }

    .accordion-body a:hover {
      color: #007bff;
    }

    .textSearchMenu{
      cursor: pointer;
      padding: 0;
      margin: 0.5rem 0.3rem;
    }

/*classes pour la recherche et la recipe list*/
.background-perso{
background-color: #0b5dd700; 
background-image: url("https://picsum.photos/400/250?random=9");
background-size: cover;
}

.recipeSearch{
display: flex;
justify-content: space-around;
margin: 0rem 0 1rem 1rem;
}

.btnSearch{
    cursor: pointer;
}

.recipeSearch form{
width: 50rem;
}

.recipeGroup{
    display: flex;   
    align-items: top;   
}

.recipe-container{
    display: flex;
    flex-direction: column; 
     align-items:top;
     max-width: 100%;
}

 .form-select{
  background-color: orangered;
  width: 10em;
  color : white;
}

.recipeList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    cursor: pointer;
}

    .recipeList .card {
      height: 180px;                 
      width: 300px;

    }
     .recipeList .card-img-top {
      height: 100px;                
      object-fit: cover;            
    }
    .carousel-indicators [data-bs-target] {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-indent: 0;               /* on annule le masquage du texte */
      color: #fff;
      background-color: #0d6efd;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      margin: 0 5px;
      border: none;
    }
    .carousel-indicators .active {
      background-color: #0b5ed7;   
    }

    .videos-container{
        display: flex;
        justify-content: space-around;
        gap :1em;
    }

    .videoTitle{
    display: flex;
        justify-content: space-between;

    }

    .subscribeSection{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

      .subscribeSection .form-control::placeholder {
    color: white !important;
    }

    .subscribeSection .btn{
        height: 3em;
        width: 10em;
        background-color:orange; 
    }

        .subscribeSection .btn:hover{
        background-color:yellow;     
    }


   /*Search Page*/
    
      .recipeList2{
          display: flex;
          flex-direction: row;
          gap: 2em;
          width: 100%;
      }

    .recipeList2 .cardCarousel { 
      margin: 2rem;
    }
    
     .recipeList2 .card-img-top {
      height: 200px;                
      object-fit: cover;            
    }

    recipeForm form{
      width: 50%;
    }

    /*Contact Page*/

    .contactGroup{
      flex-direction: row;
      width: 100%;
    }

    .contactText{
      width: 50%;
    }

    .contactForm-container{
      width: 50%;
    }

    .messageForm{
      height: 10rem;
    }


    /*Signup window*/

    .signWindow{
      display: none;
      border-radius: 2%;
      position:absolute;
      width: 90%;
      height: 90%;
      top:  7% ;
      left: 5%;
      overflow: hidden;
    }

    .overlay{
      position: absolute; 
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%; 
      background-color: rgba(0, 0, 0, 0.541); 
      display: none; 
      z-index: 10; 
    }

       .signWindow .btnClose{
      z-index: 10; 
      position:fixed;
      top:  2% ;
      right: 5%;
    }

        /*Signup Page*/

    .signupSection{
      width: 50%;
      padding-top: 10em;
      align-items: center;   }

    .signupSection .btn{
       width: 8rem ; 
     }

    .signupSection .addMargin{
       margin-top: 10rem; 
      margin-bottom: 10rem;  
   }

  